In [1]:
# importing all important packages
import pandas as pd

In [2]:
# Define the file path
file_path = 'Final Assignment Data/Company X - Order Report.xlsx'

# Load the Excel file into a pandas DataFrame
Company_X_Order_Report = pd.read_excel(file_path)

# Now, 'data' contains your Excel file's data
Company_X_Order_Report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [3]:
# Load Company X - Pincode Zones data into a pandas DataFrame from an Excel file

# Define the file path
file_path = 'Final Assignment Data/Company X - Pincode Zones.xlsx'

# Load the Excel file into a pandas DataFrame
Company_X_Pincode_Zones = pd.read_excel(file_path)

# Now, 'data' contains your Excel file's data
Company_X_Pincode_Zones.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [4]:
# Load Company X - SKU Master data into a pandas DataFrame from an Excel file
file_path = 'Final Assignment Data/Company X - SKU Master.xlsx'
Company_X_SKU_Master = pd.read_excel(file_path)
Company_X_SKU_Master.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [5]:
# Load Courier Company - Invoice data into a pandas DataFrame from an Excel file
file_path = 'Final Assignment Data/Courier Company - Invoice.xlsx'
Courier_Company_Invoice = pd.read_excel(file_path)
Courier_Company_Invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [6]:
# Load Courier Company - Rates data into a pandas DataFrame from an Excel file
file_path = 'Final Assignment Data/Courier Company - Rates.xlsx'
Courier_Company_Rates= pd.read_excel(file_path)
Courier_Company_Rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [7]:
Courier_Company_Rates['Zone'] = Courier_Company_Rates['Zone'].str.lower()
Courier_Company_Rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,a,0.50,29.5,23.6,13.6,23.6
1,b,1.00,33.0,28.3,20.5,28.3
2,c,1.25,40.1,38.9,31.9,38.9
3,d,1.50,45.4,44.8,41.3,44.8
4,e,2.00,56.6,55.5,50.7,55.5

In [8]:
merged_data = pd.merge(Courier_Company_Invoice,Company_X_Pincode_Zones, on=['Warehouse Pincode', 'Customer Pincode'], how='inner')
merged_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d

In [9]:
merged_data = pd.merge(merged_data,Company_X_Order_Report, left_on='Order ID', right_on='ExternOrderNo', how='right')
merged_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,ExternOrderNo,SKU,Order Qty
0,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223818706,1.0
1,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223819093,1.0
2,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223819109,1.0
3,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223818430,1.0
4,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223819277,1.0

In [10]:
merged_data = pd.merge(merged_data,Company_X_SKU_Master, on='SKU')
merged_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,ExternOrderNo,SKU,Order Qty,Weight (g)
0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e,2001827036,8904223818706,1.0,127
1,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b,2001821995,8904223818706,1.0,127
2,1091120352712,2001819252,0.30,121003,174101,b,Forward charges,33.0,e,2001819252,8904223818706,1.0,127
3,1091119429202,2001816996,0.50,121003,335512,d,Forward charges,45.4,b,2001816996,8904223818706,1.0,127
4,1091118925110,2001814580,0.15,121003,322255,d,Forward and RTO charges,86.7,b,2001814580,8904223818706,1.0,127

In [11]:
merged_data = pd.merge(merged_data,Courier_Company_Rates, left_on='Zone_x', right_on='Zone', how='inner')
merged_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,ExternOrderNo,SKU,Order Qty,Weight (g),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3
1,1091120352712,2001819252,0.3,121003,174101,b,Forward charges,33.0,e,2001819252,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3
2,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,2001811475,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3
3,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,2001811475,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3
4,1091117616121,2001809592,1.5,121003,244713,b,Forward charges,89.6,b,2001809592,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3

In [12]:
# Convert 'Weight (g)' to kilograms
merged_data['Weight (kg)'] = merged_data['Weight (g)'] / 1000
merged_data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,ExternOrderNo,SKU,Order Qty,Weight (g),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,Weight (kg)
0,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,2001827036,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3,0.127
1,1091120352712,2001819252,0.3,121003,174101,b,Forward charges,33.0,e,2001819252,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3,0.127
2,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,2001811475,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3,0.127
3,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,2001811475,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3,0.127
4,1091117616121,2001809592,1.5,121003,244713,b,Forward charges,89.6,b,2001809592,8904223818706,1.0,127,b,1.0,33.0,28.3,20.5,28.3,0.127

In [13]:
merged_data.drop(["ExternOrderNo", "Weight (g)","Zone"], axis=1, inplace=True)
merged_data.rename(columns={'Zone_x': 'Delivery Zone charged by Courier Company', 'Zone_y': 'Delivery Zone as per X','AWB Code': 'AWB Number','Billing Amount (Rs.)': 'Charges Billed by Courier Company (Rs.)','Weight (kg)': 'Total weight as per X (KG)','Weight Slabs' :'Weight slab charged by Courier Company (KG)','Charged Weight' :'Total weight as per Courier Company (KG)'}, inplace=True)
merged_data.head()

,AWB Number,Order ID,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,SKU,Order Qty,Weight slab charged by Courier Company (KG),Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,Total weight as per X (KG)
0,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127
1,1091120352712,2001819252,0.3,121003,174101,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127
2,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127
3,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127
4,1091117616121,2001809592,1.5,121003,244713,b,Forward charges,89.6,b,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127

In [14]:
# Function to calculate charges
def calculate_charges(row):
    zone = row['Delivery Zone as per X']
    weight = row['Total weight as per X (KG)']

    # Check if zone exists in Courier_Company_Rates
    if zone not in Courier_Company_Rates['Zone'].unique():
        return 0  # or any default value

    weight_slab = Courier_Company_Rates[(Courier_Company_Rates['Zone'] == zone) & (weight <= Courier_Company_Rates['Weight Slabs'])]

    # Check if weight_slab is empty
    if weight_slab.empty:
        return 0  # or any default value

    # Ensure weight_slab has at least one row before accessing the first row
    if not weight_slab.index.empty:
        weight_slab = weight_slab.iloc[0]  # Select the first row

        fixed_charge = weight_slab['Forward Fixed Charge']
        additional_charge = weight_slab['Forward Additional Weight Slab Charge']

        total_weight = weight
        total_additional_weight = max(0, total_weight - weight_slab['Weight Slabs'])
        total_charge = fixed_charge + (total_additional_weight * additional_charge)

        return total_charge
    else:
        return 0  # or any default value if weight_slab is empty

In [15]:
# Apply the calculate_charges function to the merged_data dataframe
merged_data['Expected Charge as per X (Rs.)'] = merged_data.apply(calculate_charges, axis=1)
merged_data.head()

,AWB Number,Order ID,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,SKU,Order Qty,Weight slab charged by Courier Company (KG),Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,Total weight as per X (KG),Expected Charge as per X (Rs.)
0,1091122418320,2001827036,1.6,121003,173213,b,Forward charges,117.9,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127,56.6
1,1091120352712,2001819252,0.3,121003,174101,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127,56.6
2,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127,56.6
3,1091121844806,2001811475,0.5,121003,173212,b,Forward charges,33.0,e,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127,56.6
4,1091117616121,2001809592,1.5,121003,244713,b,Forward charges,89.6,b,8904223818706,1.0,1.0,33.0,28.3,20.5,28.3,0.127,33.0

In [16]:
# Create the output data
output_data = merged_data[['Order ID', 'AWB Number', 'Total weight as per X (KG)',
                            'Total weight as per Courier Company (KG)',
                            'Weight slab charged by Courier Company (KG)', 'Delivery Zone as per X',
                            'Delivery Zone charged by Courier Company', 'Expected Charge as per X (Rs.)',
                            'Charges Billed by Courier Company (Rs.)']]

# Rename the columns
output_data.columns = ['Order ID', 'AWB Number', 'Total weight as per X (KG)',
                        'Total weight as per Courier Company (KG)', 'Weight slab charged by Courier Company (KG)',
                        'Delivery Zone as per X', 'Delivery Zone charged by Courier Company',
                        'Expected Charge as per X (Rs.)', 'Charges Billed by Courier Company (Rs.)']

# Display the first few rows of the output_data DataFrame
output_data.head()

,Order ID,AWB Number,Total weight as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.)
0,2001827036,1091122418320,0.127,1.6,1.0,e,b,56.6,117.9
1,2001819252,1091120352712,0.127,0.3,1.0,e,b,56.6,33.0
2,2001811475,1091121844806,0.127,0.5,1.0,e,b,56.6,33.0
3,2001811475,1091121844806,0.127,0.5,1.0,e,b,56.6,33.0
4,2001809592,1091117616121,0.127,1.5,1.0,b,b,33.0,89.6

In [17]:
# Calculate the difference
output_data['Difference Between Expected Charges and Billed Charges (Rs.)'] = output_data['Expected Charge as per X (Rs.)'] - output_data['Charges Billed by Courier Company (Rs.)']

C:\Users\SAI RAM\AppData\Local\Temp\ipykernel_24180\3885550920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_data['Difference Between Expected Charges and Billed Charges (Rs.)'] = output_data['Expected Charge as per X (Rs.)'] - output_data['Charges Billed by Courier Company (Rs.)']

In [18]:
# Save the output data to a CSV file
output_data.to_csv("output_data.csv", index=False)

In [19]:
# Create the summary table
summary_table = pd.DataFrame({
    'Total orders where X has been correctly charged': [output_data['Difference Between Expected Charges and Billed Charges (Rs.)'].eq(0).sum()],
    'Total Orders where X has been overcharged': [output_data['Difference Between Expected Charges and Billed Charges (Rs.)'].gt(0).sum()],
    'Total Orders where X has been undercharged': [output_data['Difference Between Expected Charges and Billed Charges (Rs.)'].lt(0).sum()],
    'Total invoice amount': [output_data['Charges Billed by Courier Company (Rs.)'].sum()],
    'Total overcharging amount': [output_data['Difference Between Expected Charges and Billed Charges (Rs.)'].where(lambda x: x > 0, 0).sum()],
    'Total undercharging amount': [output_data['Difference Between Expected Charges and Billed Charges (Rs.)'].where(lambda x: x < 0, 0).sum()]
})

summary_table.head()

,Total orders where X has been correctly charged,Total Orders where X has been overcharged,Total Orders where X has been undercharged,Total invoice amount,Total overcharging amount,Total undercharging amount
0,15,11,541,68252.3,259.6,-47312.1

In [20]:
# Save the summary table to a CSV file
summary_table.to_csv("summary_table.csv", index=False)